{% include background.html colour="bg-white" %}

{% assign title = '<span class="text-primary">Delicious</span>, Affordable, and Fast. Our Recipes Make Cooking <span
    class="text-primary">Easy</span> and <span class="text-primary">Fun</span>' %}

{% assign descr = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
et
dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat." %}

<div class="grid grid-cols-6 md:grid-cols-12 gap-8">
    <article class="col-span-6 flex flex-col items-start gap-8 justify-center">
        <h1>{{ title }}</h1>
        <div class="flex flex-row leading-8 gap-4">
            {% for item in site.data.social-media %}
            {% include icon.html name=item.name style='secondary' %}
            {% endfor %}
        </div>
        <p class="line-clamp-4">{{ descr }}</p>
        {% include button.html link="/blog/article-1" name="Learn More" style="primary" %}
    </article>
    <img class="col-span-6 rounded-lg aspect-square object-cover" src="/assets/images/image-1.png">
</div>