<div class="flex flex-col col-span-4 bg-white rounded-lg overflow-hidden">
    <img src="/assets/images{{ include.post.url }}/banner.png">
    <article class="flex flex-col gap-4 p-4 items-start">
        <h4>{{ include.post.title }}</h4>
        {% assign date = include.post.date | date: "%-d %B %Y" %}
        <h6>{{ date }}</h6>
        <p class="line-clamp-2 text-left">{{ include.post.description }}</p>
        {% include button.html link=post.url name="Learn More" style="brand" %}
    </article>
</div>